<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Components">
            <directory suffix="Test.php">./tests/Components</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/System</directory>
            <directory suffix=".php">src/Components/CarSegment/Adapters/Infrastructure/Eloquent</directory>
            <directory suffix=".php">src/Components/CarSegment/Adapters/Infrastructure/ORM</directory>
            <directory suffix=".php">src/Components/CarSegment/Adapters/Infrastructure/Policies</directory>
            <directory suffix=".php">src/Components/CarSegment/Adapters/Infrastructure/Transformers</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout"/>
            <cobertura outputFile="clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
</phpunit>
